# === Dataset files ===
*.json

# === Data formats ===
*.csv
*.npy
*.npz
*.pkl
*.h5

# === Virtual environments ===
tsad-env/
.venv/
env/
venv/

# === Python cache ===
__pycache__/
*.pyc

# === Logs or temp ===
*.log
*.tmp
